/* Basic Reset */
html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
}

/* Container for map and inputs */
#container {
    padding-left: 2%;
}


/* Input fields */
input {
    width: 80%;
    max-width: 500px;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border: 1.5px solid #ccc;
    border-radius: 4px;
}

/* Map container */
#map {
    height: 80vh;
    width: 80vw;
    background-color: gainsboro;
}

/* Style for the top inputs */
#start,
#end {
    margin-top: 10px;
}

/* Add some spacing between inputs */
#start {
    margin-bottom: 10px;
}